<app-navbar></app-navbar>
<div class="container-fluid home-delivery pb-5 p-lg-5">
     <div class="row align-items-center">
      <!--  <div class="col-lg-6 col-sm-12 order-lg-1">
            <embed src=" ../../../assets/images/delievery service.svg" type="" style="width:100%">
             <img src="../../../assets/images/delievery service.svg" alt=""> 
        </div> -->
        <div class="col-lg-6 col-sm-8 order-lg-0">
            <h1>Passenger & Delivery Service </h1>
            <p class="text-justify">Wassamoto is a company that has set itself the goal of guaranteeing the safe
                and fast transport of people from every Horizon and acute small goods within large African
                cities. By forming car pools and taking advantage of Route optimization
                , we provide you the best services at a low cost. Beside of our maintained fleet, we connect
                passengers to drivers for the benefit of everyone involved. Worried you"d spend too much time by
                looking for a suitable and secure taxi
                ? Wassaride will release you from burrden and provide you a certified driver.
                <br><br> With Wassadelivery you have the flexibility to send and receive Parcels in minutes and
                track your transport order on-the-fly. so you can send a package wherever you are in the city.
                wether you are a Company
                <a href="#" style="text-decoration:none; color:white">(B2B)</a> or a private Tell us more about
                your package and detail about the receiver and we can skip the hassle and pick up the package
                and deliver in up to 60 min to the receiver.
                quickly, that will brings you to your destination. Create an account here.

            </p>
            <!-- <div class="d-grid gap-3 col-6 pt-lg-3">
                <button class="btn btn-outline-light btn-lg" type="button" (click)="wheretoTake()">New
                    Booking</button>
            </div> -->
        </div>
    </div>
</div>

<div class="container-fluid my-5 px-lg-5 custom-home-content">
    <div class="row py-5">
        <div class="col-lg-6 col-sm-12 mb-4 mb-lg-0 order-sm-0">
            <img src="../../assets/images/img-2.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-8 order-sm-1">
            <h2>Wassaride - Secure car sharing</h2>
            <p class="text-justify">
                Whether it is a child who has to get regulary to school on time every morning or you have to
                order a reliable car for an appointment at short term or your grand mom has to be transported to
                a defined place in a defined time or your Workers has to move
                through the city. we will take care of finding a safe vehicle that suits your needs and put our
                certified drivers at your disposal. Specify if you allow a carpool . You tell us when, where and
                how often you want to be driven and
                what your rider experience should look like so that we can find the right car for you. Both our
                competents drivers and the passengers are all identified and the path of the journey is
                controlled by GPRS and protocolled . Don"t
                focus anymore on security aspect and forget unforeseeable detours and payment burdden. You just
                have to enjoy the drive to your destination. In some Package we garantee 20% off on the Price ,
                if you encoutered a delay because our
                driver could not respect the Pick-up time

            </p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-6 col-sm-12 mb-4 mb-lg-0 order-lg-1">
            <img src="../../assets/images/img-3.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-8 order-lg-0">
            <h2>Wasserdelivery - Send fast a package</h2>
            <p class="text-justify">Have you ever tried to commission someone to transport your package in the
                city? specify us the nature of your package, the size and some pictures. we plan the pick-up and
                organize the delivery on the same day. Before that we make
                sure that the Receiver get informed through sms. The Customer can follow each delivery process
                step from his phone and within 2 hours get delivered. Once the receiver takes the package from
                our driver, you are get informed automatically.
                Our Drivers are schooled and certified for their Duties. Our insurance guarantees you in the
                event of loss or damage to your package
            </p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-6 col-sm-12 mb-4 mb-lg-0 order-lg-0">
            <img src="../../assets/images/img-4.png" alt="">
        </div>
        <div class="col-lg-6 col-sm-8 order-lg-1">
            <h2>Let's integrate with us. B2B</h2>
            <p class="text-justify">E-commerce shop, Restaurants and other enterprises could benefit of our
                Services.We integrate with your online ordering system and deliver your Products to your
                customer. Through new incomming ders Wassamoto transportation request
                are generated from your eshop. After Route optimization we share real-time with your customers
                per SMS, so that he follows the delivery pgit ocess. We also take care about the Support , when
                a Customer gets questions concerning
                the delivery,Just focus on your Business we do delivery management for you. Our driver can also
                collect the cash from your Customer on demand. You don#t have an ordering system ?we provide
                also forms and Email Api with which you
                can generate transportation orders. For pricing information concerning the integration ? just
                contact us
            </p>
            <br>
            <p>Driver: Earn more Income as a Certified Wassamoto Driver You have your personal Car, moto or you
                are a Taxi driver and you drive sometimes empty. You are able to transport any Persons, that
                goes to your direction.Wheter you work partially
                or totally with us, we have a valuable revenue system. Suscribe here ! Give basic informations
                and you mention for which services you want to work for ( Wassadelivery or Wassamoto ). We will
                contact you for completing the registration.
                We pay you on time everytime, when you transport a Package or a passenger. Through our driver
                app you get notified, when new order come in and manage all your order. We provide also Route
                optimization in the app, in order to gain
                time. Once you accept the order The Contact of the Client and order informations are detailled
                in the App, We also do Route optimization for you, in the case , when you get many orders from
                us. It will help you to focus on the
                Ride.
            </p>
        </div>
    </div>
</div>