.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
.heading{
    color: rgb(19, 128, 164);
    text-align: center;
    margin-bottom: 10%;
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}