<nav class="navbar navbar-expand-lg navbar-light coustom-navbar" style="padding:0%">
    <div class="container-fluid mx-3">
        <a class="navbar-brand" href="#">
            <!-- <embed src="../../assets/images/098909890.svg"> -->
                <!-- <img src="" alt="" width="200" height="100"> -->
                Library Management System
        </a>
        <button class="navbar-toggler btn-outline-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mb-2 mb-lg-0 mx-5">
                <li class="nav-item justify-content-center me-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item justify-content-center me-3">
                    <a class="nav-link" routerLink="/about">About</a>
                </li>
                <li class="nav-item justify-content-center me-3">
                    <a class="nav-link" routerLink="/contact-us">Support</a>
                </li>
                <li class="nav-item justify-content-center me-3">
                    <a class="nav-link" routerLink="/tracking">Track</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/our-service">Services</a>
                </li>
                <li class="nav-item">
                    <!-- <a class="nav-link" routerLink="/our-service">Services</a> -->
                </li>
            </ul>
            
            
            <!-- <button type="button" class="btn btn-outline-danger ms-0 ms-lg-2 p-1" routerLink="/driver-register">Register as
                Driver</button> -->
                <div *ngIf="!loggedin">
            <button type="button"  class="btn btn-outline-success mx-2 p-1" routerLink="/login">Login</button>
            <button type="button"  class="btn btn-outline-success mx-2 p-1" routerLink="/signup">Sign Up</button>
                </div>
                <div *ngIf="loggedin">
                    <button type="button"  class="btn btn-outline-success mx-2 p-1" routerLink="#" (click)="logout()">Logout</button>
                </div> 
            <!-- <div class="dropdown" *ngIf="loggedOut">
                <span class=" me-4" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: white;border:none;">
                    <img class="rounded-circle"  id="dropdownMenuButton" id="nav-pic"  src="{{imgUrl}}">
                    <br><label class="labelName">{{profileName}}</label>
                </span>
                <div class="dropdown-menu me-2" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" routerLink="/customer-profile" style="text-decoration: none; color:green">Profile</a>
                    <a class="dropdown-item" style="text-decoration: none; color:green">Logout</a>
                </div> 
            </div> -->
        </div>
    </div>
</nav>