<app-navbar></app-navbar>
<section>
    <div class="container main-div">
        <h3>Hierank's Students</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Book Name</th>
                    <th scope="col">Author's Name</th>
                    <th scope="col">Quantity</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td></td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>
</section>