<app-navbar></app-navbar>
<section>
    <div class="container main-div">
        <h3>Hierank's Students</h3>
        <br>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Student Name</th>
                    <th scope="col">Student's Email</th>
                    <th scope="col">Book Issued</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let student of bacchaKaData; let i = index" >
                    <th scope="row">{{i+1}}</th>
                    <td>{{student.name}}</td>
                    <td>{{student.email}}</td>
                    <td>@mdo</td>
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td></td>
                    <td>@twitter</td>
                </tr> -->
            </tbody>
        </table>
    </div>
</section>
<footer>
<app-footer></app-footer>
</footer>